header {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   flex-direction: column;
   width: calc(100% - 64px);
   padding: 0px 32px 32px;
   color: black;
   text-align: right;
   border-bottom: solid 3px black;
}

.brand {
   display: flex;
   align-items: center;

   &--title {
      padding-left: 32px;

   }

   &--logo {
      height: 45px;
      width: 45px;
   }
}

.recommendation {
   display: flex;
}